<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Listado articulos</h2>
            <a th:href="@{/articulo/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{articulo.nuevo}">Nuevo articulo</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripcion</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activa</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{accion.eliminar}">Eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{accion.actualizar}">Actualizar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo:${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${articulo.precio}"style="text-align: right"></td>
                            <td th:text="${articulo.existencias}"style="text-align: center"></td>
                            <td><input type="checkbox" name="activo" th:checked="${articulo.activo}" disabled="true"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}">Eliminar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}">Modificar</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
            </div></div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>          