
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Listado clientes</h2>
        <a th:href="@{/nuevoCliente}">Nuevo cliente</a>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellidos}"></td>
                        <td th:text="${cliente.correo}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td> <a th:href="@{/eliminarCliente/}+${cliente.idCliente}">Eliminar</a></td>
                        <td> <a th:href="@{/modificarCliente/}+${cliente.idCliente}">Modificar</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
        </div>
                <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>                     
